<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServiceAdministrador</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceCategoriaProducto</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceCliente</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceEstablecimiento</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceOferta</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceOfertaProducto</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServicePedidoCabecera</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServicePedidoDetalle</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceProducto</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceRegistroPago</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceSeguimiento</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceTipoPago</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServiceUsuario</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceAdministrador</servlet-name>
        <url-pattern>/ServiceAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceCategoriaProducto</servlet-name>
        <url-pattern>/ServiceCategoriaProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceCliente</servlet-name>
        <url-pattern>/ServiceCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceEstablecimiento</servlet-name>
        <url-pattern>/ServiceEstablecimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceOferta</servlet-name>
        <url-pattern>/ServiceOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceOfertaProducto</servlet-name>
        <url-pattern>/ServiceOfertaProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicePedidoCabecera</servlet-name>
        <url-pattern>/ServicePedidoCabecera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicePedidoDetalle</servlet-name>
        <url-pattern>/ServicePedidoDetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceProducto</servlet-name>
        <url-pattern>/ServiceProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceRegistroPago</servlet-name>
        <url-pattern>/ServiceRegistroPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceSeguimiento</servlet-name>
        <url-pattern>/ServiceSeguimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTipoPago</servlet-name>
        <url-pattern>/ServiceTipoPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceUsuario</servlet-name>
        <url-pattern>/ServiceUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
